* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  background-image: url('./components/assets/sky-1441936_1920.jpg');
  background-size: cover;
  background-position: bottom;
}
